# CS 182: Data Collection and Cleaning

We decided to use two data sets.

# Github Data 

Our primary data set is from Peter Downs via Github.

Link: https://github.com/peterldowns/clickbait-classifier

In [58]:
# collect data
df1 = pd.read_json('https://raw.githubusercontent.com/peterldowns/clickbait-classifier/master/data/buzzfeed.json')
df2 = pd.read_json('https://raw.githubusercontent.com/peterldowns/clickbait-classifier/master/data/clickhole.json')
df3 = pd.read_json('https://raw.githubusercontent.com/peterldowns/clickbait-classifier/master/data/dose.json')
df4 = pd.read_json('https://raw.githubusercontent.com/peterldowns/clickbait-classifier/master/data/nytimes.json')

In [68]:
print 'There are', len(df1), 'Buzzfeed,', len(df4), 'NYT,', len(df2), 'Clickhole, and', len(df3), 'Daily Dose articles in the Github data set.'

There are 367 Buzzfeed, 3104 NYT, 547 Clickhole, and 2182 Daily Dose articles in the Github data set.

In [87]:
# label data before concatenating
df1['source'] = 'Buzzfeed'
df2['source'] = 'Clickhole'
df3['source'] = 'Daily Dose'
df4['source'] = 'NY Times'

In [91]:
# join publications
gh_data = pd.concat([df1[['article_title','article_url','clickbait','source']], df2, df3, df4[['article_title','clickbait','source']]])
gh_data.head()

                                       article_title                                        article_url  clickbait    source
0             23 Life Lessons Cosmo Kramer Taught Us  /javiermoreno/ife-lessons-you-learned-from-cos...          1  Buzzfeed
1          32 Men On TV Who Made You Thirsty In 2014  /erinlarosa/32-tv-men-who-made-you-thirsty-in-...          1  Buzzfeed
2          Hilary Duff Was The Walking Queen Of 2014  /lyapalater/hilary-duff-was-the-walking-queen-...          1  Buzzfeed
3        25 Reasons Wine Is Definitely Your Soulmate  /emleschh/25-reasons-why-wine-is-your-soulmate...          1  Buzzfeed
4  This Master Carver Making Pliers From One Stic...          /norbertobriceno/ernest-macguyver-warther          1  Buzzfeed

# Kaggle UCI Data

Our supplementary data set is the UCI data set, which contains headlines, URLs, and categories for 422,937 news stories collected by a web aggregator between March 10th, 2014 and August 10th, 2014. According to Wikipedia, clickbait was already ubiquitous on the web by 2014, so the time captured by this data set is appropriate (https://en.wikipedia.org/wiki/Clickbait).

Link: https://www.kaggle.com/kinguistics/d/uciml/news-aggregator-dataset

In [2]:
%matplotlib inline
import datetime
import json
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import re
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style('darkgrid')
sns.set_context('poster')
import warnings
warnings.simplefilter(action = 'ignore', category = FutureWarning)
warnings.simplefilter(action = 'ignore', category = UserWarning)
warnings.simplefilter(action = 'ignore', category = DeprecationWarning)

In [4]:
df = pd.read_csv('uci-news-aggregator.csv')

In [6]:
df.head(1)

   ID                                              TITLE                                                URL          PUBLISHER CATEGORY                          STORY         HOSTNAME      TIMESTAMP
0   1  Fed official says weak data caused by weather,...  http://www.latimes.com/business/money/la-fi-mo...  Los Angeles Times        b  ddUyU0VZz0BRneMioxUPQVP6sIxvM  www.latimes.com  1394470370698

In [18]:
# convert unix time to readable format
df['DATE'] = [datetime.datetime.fromtimestamp(int(x)/1000).strftime('%Y-%m-%d') for x in df['TIMESTAMP']]

In [19]:
df.head(1)

   ID                                              TITLE                                                URL          PUBLISHER CATEGORY                          STORY         HOSTNAME      TIMESTAMP        DATE
0   1  Fed official says weak data caused by weather,...  http://www.latimes.com/business/money/la-fi-mo...  Los Angeles Times        b  ddUyU0VZz0BRneMioxUPQVP6sIxvM  www.latimes.com  1394470370698  2014-03-10

In [52]:
# top 100 publications represented in the data set
df[['HOSTNAME','ID']].groupby('HOSTNAME').agg('count').sort('ID', ascending = False).reset_index().head(10)

                 HOSTNAME    ID
0          in.reuters.com  2877
1  www.huffingtonpost.com  2603
2    www.businessweek.com  2420
3    www.contactmusic.com  2334
4     www.dailymail.co.uk  2258
5          www.nasdaq.com  2228
6        www.examiner.com  2085
7      www.globalpost.com  1975
8         www.latimes.com  1913
9     www.bizjournals.com  1882

In [38]:
# number of buzzfeed articles
print len(df[df.HOSTNAME == 'www.buzzfeed.com'])

201

In [41]:
# number of uproxx articles
print len(df[df.HOSTNAME == 'www.uproxx.com'])

92